<header class="container header clearfix">
    <nav>
      <ul class="nav nav-pills">

        {{#if session.isAuthenticated}}
            <li class="nav-item">
                <a href="#" class="nav-link" {{action 'invalidateSession'}}>{{t "button.logout"}}</a>
            </li>
        {{else}}
            <li class="nav-item">
                {{#link-to "login" class="nav-link"}}{{t "button.login"}}{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "login" class="nav-link"}}{{t "button.signin"}}{{/link-to}}
            </li>
        {{/if}}

        {{language-select class="nav-item"}}

      </ul>
    </nav>
    <h3>
        {{#link-to 'index'}}
            <img class="brand-logo" src="/assets/images/logo.svg">
            {{t 'tufar'}}
        {{/link-to}}
    </h3>
</header>

{{#if (and session.isAuthenticated (has-any session.data.authenticated.roles 'ROLE_ADMIN'))}}
    <ul class="nav nav-admin justify-content-center">
      <li class="nav-item">
          {{#link-to "users" class="nav-link"}}{{t "user.title.index"}}{{/link-to}}
      </li>
      <li class="nav-item">
          {{#link-to "groups" class="nav-link"}}{{t "group.title.index"}}{{/link-to}}
      </li>
      <li class="nav-item">
          {{#link-to "stores" class="nav-link"}}{{t "store.title.index"}}{{/link-to}}
      </li>
    </ul>
{{/if}}
