<header class="container header clearfix">
    <nav>
      <ul class="nav nav-pills">
        {{language-select class="nav-item"}}

        {{#if session.isAuthenticated}}
            <li class="nav-item">
                <a href="#" class="nav-link" {{action 'invalidateSession'}}>{{t "button.logout"}}</a>
            </li>
        {{else}}
            <li class="nav-item">
                {{#link-to "login" class="nav-link"}}{{t "button.login"}}{{/link-to}}
            </li>
            <li class="nav-item">
                {{#link-to "login" class="nav-link"}}{{t "button.signin"}}{{/link-to}}
            </li>
        {{/if}}

      </ul>
    </nav>
    <h3 class="text-muted">
        {{#link-to 'index'}}
            {{t 'tufar'}}
        {{/link-to}}
    </h3>
</header>
