<div class="container login">

    <h1>
        {{#link-to 'index'}}
            {{t 'tufar'}}
        {{/link-to}}
    </h1>

    <form {{action 'authenticate' on='submit'}} class="form-horizontal">

      <div class="form-group">
        {{#if error}}
          <div class="alert alert-danger" role="alert">
            {{#each-in error as |key value|}}
              <strong>{{key}}</strong> {{value}}<br>
            {{/each-in}}
          </div>
        {{/if}}
      </div>

      <div class="form-group">
        <label for="identification" class="control-label">{{t "user.attributes.username"}}</label>
        <div class="col-sm-12">
          {{input id='username' placeholder=(t "user.attributes.username") class='form-control' required='required' value=username}}
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="control-label col-md-4">{{t "user.attributes.password"}}</label>
        <div class="col-sm-12">
          {{input class='form-control' required='required' id='password' placeholder=(t "user.attributes.password") type='password' value=password}}
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-12 col-md-offset-4">
          <button type="submit" class="btn btn-success btn-lg btn-block">{{t "button.login"}}</button>
        </div>
      </div>

    </form>

</div>
