{{
    em-map
        lat=model.latitude
        lng=model.longitude
        markers=(array (hash location=(array model.latitude model.longitude)))
        scrollWheelZoom=false
}}

<div class="card-body">
{{#em-form action="save" on="submit"}}

          {{em-select label=(t "store.attributes.group") property="group" model=model content="group" contentLabel="name" }}

          {{em-input label=(t "store.attributes.name") property="name" model=model}}

          {{em-input label=(t "store.attributes.address") property="address" model=model}}

          {{em-input label=(t "store.attributes.phone") property="phone" model=model}}

          {{em-input label=(t "store.attributes.email") property="email" model=model}}

          {{em-input-number label=(t "store.attributes.latitude") property="latitude" model=model}}

          {{em-input-number label=(t "store.attributes.longitude") property="longitude" model=model}}

{{/em-form}}
</div>
