<div class="card card-show">
    <div class="card-body">
        <div>
            {{#link-to "tags.index" tagName="a" class="btn btn-back"}}
              {{t "button.back"}}
            {{/link-to}}
            <h1 class="card-title">
                {{t "tag.title.show"}}
            </h1>
        </div>

        <div class="form-horizontal">

          <div class="form-group row">
            <label class="control-label col-md-4 text-right">
                {{t "tag.attributes.name"}}
            </label>
            <div class="col-md-8">
              <p class="form-control-static">
                    {{model.name}}
              </p>
            </div>
          </div>

          <div class="form-group row">
            <label class="control-label col-md-4 text-right">
                {{t "tag.attributes.product"}}
            </label>
            <div class="col-md-8">
              <p class="form-control-static">
                    {{model.product.name}}
              </p>
            </div>
          </div>

        </div>
    </div>
</div>
