{{#if showMenu}}
{{header-menu}}
{{/if}}

<main role="main">
    {{outlet}}
</main>

{{#if showMenu}}
{{footer-menu}}
{{/if}}

{{ember-notify closeAfter=10000 messageStyle='bootstrap'}}
{{ember-load-remover}}
